/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  border: 1px solid red;
}
.flexing {
  display: flex;
}
.pad {
  padding: 2%;
}
.main-container {
  margin: 0 15% 0 15%;
}
nav {
  display: flex;
  justify-content: flex-end;
}
nav a {
  text-decoration: none;
  color: #EE6C4D;
}
nav a.space {
  margin-right: 2%;
}
.top-content {
  padding: 2%;
  background-color: #E0FBFC;
}
img {
  width: 35%;
}
.middle-content {
  display: flex;
  margin-top: 5%;
}
.middle-content .objective,
.middle-content .skills {
  width: 48%;
}
.middle-content .objective p {
  text-align: center;
  margin-top: 2%;
}
.skills {
  margin-bottom: 2%;
}
.skills .box {
  border: 1px solid #98C1D9;
  padding: 2%;
}
.bottom-content div {
  display: flex;
  justify-content: space-around;
}
.description {
  display: flex;
  border: 1px solid red;
}
